[[client]]
username = "{{ default_user }}"
password = "{{ default_user }}"

{% for user in users %}{% if user.vpn_user %}
[[client]]
username = "{{ user.name }}"
password = "{{ user.password }}"

{% endif %}{% endfor %}
