{%- set ssl_enabled = use_ssl | default(false) -%}
server {
{%- for port in ports %}
    listen {{ port }}{% if ssl_enabled %} ssl;{% endif %}
{% endfor %}
    server_name {{ server_name }};

{%- if ssl_enabled %}
    ssl_certificate     {{ cert_path }};
    ssl_certificate_key {{ key_path }};
{%- endif %}

    root {{ web_root }};
    index index.html;

    location / {
        try_files $uri $uri/ /index.html =404;
    }
{%- if mounts %}
{% for url, path in mounts %}
    location {{ url }} {
        alias {{ path.rstrip('/') }}/;
        default_type text/plain;
    }
{% endfor %}
{% endif -%}
}
