ping_hosts = []
speedtest_hosts = []
reverse_proxy_hosts = []

[[main_hosts]]
hostname = "{{ hostname }}"
cert_chain_path = "{{ cert_path }}"
private_key_path = "{{ key_path }}"
allowed_sni = [{% for sni in allowed_sni %}"{{ sni }}"{% if not loop.last %},{% endif %}{% endfor %}]
