listen: :{{ port }}
protocol: udp

tls:
  cert: /app/server.crt
  key: /app/server.key

auth:
  type: userpass
  userpass:
{% for user in users %}{% if user.vpn_user %}
    {{ user.name }}: "{{ user.password }}"
{% endif %}{% endfor %}

masquerade:
  type: proxy
  proxy:
    url: {{ mask_url }}
    rewriteHost: true
