# v1.6.13
# Format: LABEL|SECRET|CREATED_TS|ENABLED|MAX_CONNS|MAX_IPS|QUOTA_BYTES|EXPIRES|NOTES|AD_TAG
{{ default_user }}|{{ default_user_uuid }}|1789274583|true|0|0|0|0||
{% for user in users %}
{{ user.name }}|{{ user.uuid.hex }}|1789274583|true|0|0|0|0||
{% endfor %}
